/* ================================= 
  Base Element Styles
==================================== */
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css");

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}


/* ---- Font Styles ---- */
body {
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	line-height: 1;
	font-weight: 300;
}

.title{
	font-size: 22px;
	color: #fff;
	padding: 25px 10px;
}

.name {
	font-size: 15px;
	color: #fff;
	padding: 28px 10px;
}

.dashboard-title {
	font-size: 20px;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Header ---- */
header {
	background-color: #7477bf;
}

.title, .name {
	margin: 0;
	display: inline-block;
}

#alert {
	margin-bottom: -10px;
}

/* ---- Navigation ---- */

.main-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.flex {
	display: flex;
	flex-direction: row;
}

.nav {
	flex-direction: column;
	justify-content: space-between;
	background-color: #4d4c72;
	list-style: none;
}

.nav a {
	text-align: left;
	padding: .4em;
}

.nav li {
	padding:  30px;
}

.sr-only {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

img {
	width: 30px;
	height: 30px;
}

/* ---- Layout Containers ---- */

/*top section*/

.top-section, .dashboard-title, .search {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.dashboard-title {
	align-self: center;
	padding: 0 30px;
}

.search {
	flex-grow: 2;
	border-bottom: 1px solid #dfdfdf;
	border-left: 1px solid #dfdfdf;
	background: #fbfbfb;

}

input {
	font-size: 12px;
	padding: 12px 2px;
	border-radius: 5px;
	margin: 12px 50px;
	align-self: flex-end;
	border: 2px solid #dfdfdf;
	width: 33%;
}

.fa {
	position: relative;
	align-self: center;
	right: 73px;
	opacity: .5;
}

/*traffic section*/

.main-content {
	display: flex;
	flex-flow: row wrap;
}

.traffic, .daily-traffic, .mobile-traffic {
	flex: 1 100%;
}

/* ================================= 
Media Queries
==================================== */
@media (min-width: 768px) {

}

@media (min-width: 1024px) {
.daily-traffic, .mobile-traffic, .new-members, .settings, .message-user, .recent-activity {
  	flex: 1 50%; 
}


